<section>
  <%= link_to "Drinks Home Page", "/drinks" %>
  <%= link_to "Bartenders Home Page", "/bartenders" %>
</section><br/>

<h3>Bartenders</h3>

<% @bartenders.each do |bartender| %>
  <section id="bartender-<%= bartender.id %>">
    <ul>
      <li><%= bartender.name %> - started working on: <%= bartender.created_at %></li><br/>
    </ul>
  </section>
<% end %>
