<h2>Bartenders</h2>

<% @bartenders.each do |bartender| %>
  <section id="bartender-<%= bartender.id %>">
    <ul>
      <% if params[:count] == "drinks" %>
      <li><%= bartender.name %> - Drink Count : <%= bartender.drinks_count %> - started working on: <%= bartender.created_at %> <%= link_to "Edit", "/bartenders/#{bartender.id}/edit" %> <%= link_to "Delete Bartender", "/bartenders/#{bartender.id}", method: :delete %><br/><br/></li>
      <p>-------------------------------------------------------------</p>
      <% else %>
      <li><%= bartender.name %> - started working on: <%= bartender.created_at %> <%= link_to "Edit", "/bartenders/#{bartender.id}/edit" %> <%= link_to "Delete Bartender", "/bartenders/#{bartender.id}", method: :delete %><br/><br/></li>
      <p>-------------------------------------------------------------</p>
    </ul>
    <% end %>
  </section>
<% end %><br/>

<section id="bartender-results-form">
  <%= form_with url: "/bartenders", method: :get, local: true do |f| %>
    <%= f.label 'Filter Results by Keyword' %>
    <%= f.text_field :filter %>
    <%= f.submit 'Search' %>
  <% end %><br/>
</section>

<section id="bartender-partial-results-form">
  <%= form_with url: "/bartenders", method: :get, local: true do |f| %>
    <%= f.label 'Filter results by partial keyword' %>
    <%= f.text_field :partial_filter %>
    <%= f.submit 'Search' %>
  <% end %><br/>
</section>

<%= link_to "Sort by Drink count", "/bartenders?count=drinks" %><br/><br/>

<%= link_to "New Bartender", "/bartenders/new" %>
