<h2>Bartender : <%= @bartender.name %></h2>


<li>Bartenders Age : <%= @bartender.age %></li><br/>
<li>Bartenders Vacation? : <%= @bartender.on_vacation %></li><br/>
<li>Bartenders City : <%= @bartender.city %></li><br/>

<h3>How many drink this bartender can serve</h3>

<section id="drink-count">
  <p>Count = <%= @bartender.drinks_count %></p>
</section>


  <%= link_to "Drinks for this Bartender", "/bartenders/#{@bartender.id}/drinks" %><br/><br/>

  <%= link_to "Update Bartender", "/bartenders/#{@bartender.id}/edit" %><br/><br/>

  <%= link_to "Delete Bartender", "/bartenders/#{@bartender.id}", method: :delete %><br/><br/>
