<h2><%= @drink.name %></h2>

<li>Cost : $<%= @drink.cost %></li><br/>
<li>ABV : <%= @drink.abv %></li><br/>
<li>Popular? <%= @drink.popular %></li><br/>

<%= link_to "Update Drink", "/drinks/#{@drink.id}/edit" %>
