<section>
  <%= link_to "Drinks Home Page", "/drinks" %>
  <%= link_to "Bartenders Home Page", "/bartenders" %>
</section><br/>

<h2><%= @drink.name %></h2>

<li>Cost : $<%= @drink.cost %></li><br/>
<li>ABV : <%= @drink.abv %></li><br/>
<li>Popular? <%= @drink.popular %></li><br/>
