<h3>Update Library</h3>

<%= form_with url: "/libraries/#{@library.id}", method: :patch, local: true do |f| %>
  <%= f.label :name, "Library Name: " %>
  <%= f.text_field :name, value: @library.name %>
  <br>
  <%= f.label :staff_count, "Library Staff Count: " %>
  <%= f.number_field :staff_count, value: @library.staff_count %>
  <br>
  <%= f.label :member_count, "Library Member Count: " %>
  <%= f.number_field :member_count, value: @library.member_count %>
  <br>
  <%= f.label :open, "Is this library open?" %>
    <% if @library.open %>
      <%= radio_button_tag :open, true, true %>
      <%= label_tag :open_yes, "Yes" %>
      <%= radio_button_tag :open, false, false %>
      <%= label_tag :open_no, "No" %>
    <% else %>
      <%= radio_button_tag :open, true, false %>
      <%= label_tag :open_yes, "Yes" %>
      <%= radio_button_tag :open, false, true %>
      <%= label_tag :open_no, "No" %>
    <% end %>
  <br> <br>
  <%= f.submit "Update Library" %>

<% end %>
