<h1>Libraries</h1>
<% @libraries.each do |library| %>
<h4><%= library.name %> </h4>
  <ul>
    <li><em>record created at: <%= library.created_at %></em></li>
    <li><em><a href="/libraries/<%=library.id%>/edit">Edit <%=library.name%> Library</a></em></li>
    <li><em><%= link_to "Delete #{library.name} Library", "/libraries/#{library.id}", method: :delete %></em></li>
  </ul>
<% end %>

<a href="/libraries/new">New Library</a>
