<h3><%= @library.name %> Library</h3>

<%= link_to "Books at this Library", "/libraries/#{@library.id}/books" %>

<%= button_to "Delete Library", "/libraries/#{@library.id}", method: :delete %>
<ul>
  <li>Total Book Count: <%=@book_count %></li>
  <li>Staff Count: <%=@library.staff_count %></li>
  <li>Member Count: <%=@library.member_count %></li>
  <li>Currently Open: <%=@library.open %></li>
</ul>

<%= link_to "Update Library", "/libraries/#{@library.id}/edit" %>
