<h3><%= @library.name %> Library</h3>

<a href="/libraries/<%= @library.id %>/books">Books at this Library</a>
<%= button_to "Delete Library", "/libraries/#{@library.id}", method: :delete %>
<ul>
  <li>Total Book Count: <%=@book_count %></li>
  <li>Staff Count: <%=@library.staff_count %></li>
  <li>Member Count: <%=@library.member_count %></li>
  <li>Currently Open: <%=@library.open %></li>
</ul>

<a href="/libraries/<%= @library.id %>/edit">Update Library</a>
