<h3><%= @library.name %> Library</h3>

<ul>
<li>Total Book Count: <%=@book_count %></li>
<li>Staff Count: <%=@library.staff_count %></li>
<li>Member Count: <%=@library.member_count %></li>
<li>Currently Open: <%=@library.open %></li>
</ul>
