<h1>Update Book</h1>

<%= form_with url: "/books/#{@book.id}", method: :patch, local: true do |f|  %>
  <%= f.label :name, "Book Name: "%>
  <%= f.text_field :name, value: @book.name%>
  <br>
  <%= f.label :publish_year, "Year Published: " %>
  <%= f.number_field :publish_year, value: @book.publish_year%>
  <br>
  <% if @book.available %>
    <%= f.label :available, "Is this book available?" %><br>
    <%= radio_button_tag :available, true, true %>
    <%= label_tag :radio_yes, "Yes" %>
    <%= radio_button_tag :available, false, false %>
    <%= label_tag :radio_yes, "No" %>
  <% else %>
    <%= f.label :available, "Is this book available?" %><br>
    <%= radio_button_tag :available, true, false %>
    <%= label_tag :radio_yes, "Yes" %>
    <%= radio_button_tag :available, false, true %>
    <%= label_tag :radio_yes, "No" %>
  <% end %>
  <br> <br>
  <%= f.submit "Update Book" %>
<% end %>
