<h3>All Books</h3>
<% @books.each do |book| %>
<h5><%= book.name %></h5>
<ul>
  <li><em> <%= link_to "Edit Book", "books/#{book.id}/edit" %> </em></li>
  <li>Year Published: <%= book.publish_year %></li>
  <li>Currently Available: <%= book.available %></li>
  <li><em><%= link_to "Delete '#{book.name}'", "/books/#{book.id}", method: :delete %></em></li>
</ul>
<% end %>
