<h2>All Books</h2>

<%= form_with url:"/books?search=#{:search}", method: :get, local: true do |f| %>
  <%= f.text_field :search %>
  <%= f.submit "Search for Exact Match" %>
<% end %>
<br>
<%= form_with url:"/books?search_partial=#{:search_partial}", method: :get, local: true do |f| %>
  <%= f.text_field :search_partial %>
  <%= f.submit "Search for Partial Match" %>
<% end %>

<% @books.each do |book| %>
<h5><%= book.name %></h5>
<ul>
  <li><em> <%= link_to "Edit Book", "books/#{book.id}/edit" %> </em></li>
  <li>Year Published: <%= book.publish_year %></li>
  <li>Currently Available: <%= book.available %></li>
  <li><em><%= link_to "Delete '#{book.name}'", "/books/#{book.id}", method: :delete %></em></li>
</ul>
<% end %>
