<h3> <%= @book.name %> </h3>
<%= link_to "Update Book", "/books/#{@book.id}/edit" %>

<ul>
  <li>Year Published: <%= @book.publish_year %></li>
  <li>Currently Available: <%= @book.available %></li>
  <li>Library: <%= @book.library.name %></li>
</ul>

<%= button_to "Delete Book", "/books/#{@book.id}" , method: :delete %>
