<h3> <%= @book.name %> </h3>

<ul>
<li>Year Published: <%= @book.publish_year %></li>
<li>Currently Available: <%= @book.available %></li>
<li>Library: <%= @book.library.name %></li>
</ul>

<a href="/books/<%=@book.id%>/edit">Edit Book</a>
