<h2>All Books at <%= @library.name %> Library: </h2>

<%= link_to "Sort Books Alphabetically", "/libraries/#{@library.id}/books?sort=alpha" %>

<%= form_with url: "/libraries/#{@library.id}/books", method: :get, local: true do |form| %>
  <%= form.hidden_field :sort, value: params[:sort]  %>
  <%= form.label "Publication Year:"  %>
  <%= form.number_field :filter  %>
  <%= form.submit "Only return records with publish_year after this date" %>
<% end %>

<% @books.each do |book| %>
  <h5><%= book.name %></h5>
  <ul>
    <li><em> <%= link_to "Edit Book", "/books/#{book.id}/edit" %> </em></li>
    <li>Year Published: <%= book.publish_year %></li>
    <li>Currently Available: <%= book.available %></li>
    <li><em> <%= link_to "Delete '#{book.name}'", "/books/#{book.id}", method: :delete %> </em></li>
  </ul>
<% end %>

<%= link_to "Create Book", "/libraries/#{@library.id}/books/new" %>
