<h1>Create a New Book</h1>

<%= form_with url: "/libraries/#{@library.id}/books", method: :post, local: true do |f| %>
  <%= f.label :name, "Book Name: " %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :publish_year, "Year Published: " %>
  <%= f.text_field :publish_year %>
  <br>
  <%= f.label :available, "Is this book currently available?" %>
    <%= label_tag :available_yes, "Yes" %>
    <%= radio_button_tag :available, true %>
    <%= label_tag :available_no, "No" %>
    <%= radio_button_tag :available, false %>
  <br>
  <%= f.submit "Create Book"  %>
  <br><br>
<% end %>
