<h3><%= @bartender.name %>'s Drinks</h3><br/>

<% @drinks.each do |drink| %>
  <li>Name : <%= drink.name %></li><br/>
  <li>Cost : $ <%= drink.cost %></li><br/>
  <li>ABV : <%= drink.abv %></li><br/>
  <li>Popular ? <%= drink.popular %></li><br/>
  <p>--------------------------------</p>
<% end %><br/><br/>

<%= link_to "Create Drink", "/bartenders/#{@bartender.id}/drinks/new" %>

<%= link_to "Sort Drinks", "/bartenders/#{@bartender.id}/drinks?sort=alphabetical" %>
