<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div>
      <ul class="topnav">
        <li class="topnav"><%= link_to "Bartenders Home Page", "/bartenders" %></li>
        <li class="topnav"><%= link_to "Drinks Home Page", "/drinks" %></li>
        <li class="topnav"><a href="/libraries">Libraries Index</a></li>
        <li class="topnav"><a href="/books">Books Index</a></li>
      </ul>
    </div>

    <br>

    <%= yield %>
  </body>
</html>
